<article class="post">
  <header class="post-header home">
    <div class="post-title">About Me</div>
  </header>

  <div class="post-content">
{%- if site.posts.size > 0 -%}
	
	  
	  
<p>
	PhD Student <br>
	Computer Science, Yonsei University <br>
	jihyukkim [AT] yonsei.ac.kr
</p>


<h3 id="volunteer">Voluteer</h3>
<ul>
	<li>ACL 2021 reviewer (<b>outstanding reviewer</b>), EMNLP 2021 reviewer </li>
	<li>SIGIR 2021 student volunteer</li>
</ul>

<h3 id="reserach_interests">Research Interests</h3>
<ul>
<li><b>Natural Language Processing</b></li>
<li><b>Search & Keyphrase Prediction</b></li>
<li><b>NLP using Metadata</b></li>
</ul>
	  
	  
<h3 id="industry">Industry</h3>
<ul>
<li><b>Internship at NAVER</b> (2020. 07. 13. - 2020. 09. 25) </li>
</ul>
	  
<h3 id="publications">Publications</h3>
<ul>
<li><b>Web Document Encoding for Structure-Aware Keyphrase Extraction</b>. <u>Jihyuk Kim</u>, Young-In Song, Seung-won Hwang. SIGIR 2021 (short)</li>
<li><b>Retrieval-Augmented and Controllable Review Generation</b>. <u>Jihyuk Kim</u>, Seungtaek Choi, Reinald Kim Amplayo, and Seung-won Hwang. COLING 2020</li>
<li><b>Categorical Metadata Representation for Customized Text Classification</b>. <u>Jihyuk Kim</u>*, Reinald Kim Amplayo*, Sua Sung, and Seung-won Hwang. TACL 2019 (*equal contribution)</li>
<li><b>Cold-Start Aware User and Product Attention for Sentiment Classification</b>. Reinald Kim Amplayo, <u>Jihyuk Kim</u>, Sua Sung, and Seung-won Hwang. ACL 2018</li>
</ul>
  
	  
	  
	  
	  
	  
	  
	  
	
{%- endif -%}  
  </div>
</article>



</div>
